//- index.pug
doctype html
html(lang="ru")
  //- Include head
  include ./component/head.pug
  body
    //- Include header
    include ./component/header.pug
    h1 Заголовок страницы
    p Абзац, небольшое описание
    //- Include custom styles
    p.
      style
          include ./css/custom-style.css

    // Include custom scripts
      script
          include ./js/custom-script.js
    p.
      Циклы
      Циклы или итерации в Pug позволяют выполнять какие-то множественные операции, написав всего лишь несколько строк кода. Например, можно вывести список пунктов меню, написав код итерации следующим образом:
    //- Include footer

    include ./component/footer.pug
