//- index.pug
doctype html
html(lang="ru")
  //- Include head
  include ./component/head.pug
  body
    //- Include header
    include ./component/header.pug
    section 
      h1 Colors & Text
      div
        div 
        div 
          h2 Dark Shadee 100%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 75%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 50%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 25%
          p &sharp;1F2041
        div 
        div 
          h2 Dark Shadee 5%
          p &sharp;1F2041
        div 
        div 
          h2 Purple
          p &sharp;BC9CFF
        div 
        div 
          h2 Green
          p &sharp;6FCF97
      div 
        div 
          p H1
          h1.
            This one is the sub-section or
            <br>
            widget title
        div 
          p H2
          h2.
            Next one is the item title inside
            <br>
            widgets
        div 
          p H3
          h3 This is a label or CTA text
        div 
          p Body
          p.
            This is the body text which is used for most 
            <br>
            of the design, like paragraphs, lists, etc.
    section 
      h1 Forms elements
      div 
        div 
          h3 TEXT FIELD
          p DEFAULT
          input(type="email", name="", placeholder="Email")
        div 
          h3 TEXT FIELD
          p HOVER/FOCUS
          input(type="email", name="", placeholder="This is pretty awecome")
        div 
          h3 DROPDOWN
          select(name="") 
            option(value="") Сколько гостей
        div 
          h3 MASKED TEXT FIELD
          input(type="datetime", name="", placeholder="ДД.ММ.ГГГГ")
        div 
          div 
            h3 DATE DROPDOWN
            select(name="") 
              option(value="") ДД.ММ.ГГГГ
          div 
            h3 DATE DROPDOWN
            select(name="") 
              option(value="") 19.08.2021
        div 
          h3 DATE DROPDOWN
          select(name="") 
            option(value="") 19 авг - 23 авг
        div 
          h3 SUBSCRIPTION TEXT FIELD
          input(type="email", name="", placeholder="Email    &#129122;")
      div 
        ul 
          li 
            h3 Checkbox Buttons
          li
            p.
              <input type="checkbox", name="", value="Можно курить">Можно курить
          li
            p <input type="checkbox", name="", value="Можно с питомцами", checked>Можно с питомцами
          li
            p.
              <input type="checkbox",name="",value="",checked> Можно пригласить гостей <br>
              (до 10 человек)
        div 
          h3 Radio Buttons
          p 
            input#main(type="radio", name="", value="Мужчина", checked)
          p 
            input#women(type="radio", name="Женщина", text="value")

    //- Include footer

    include ./component/footer.pug
