mixin room-number(i,j,k)
  .order-list
    ul.order-title 
      li 
        h3 №
      li 
        h1= i
      li
        h3= k
    ul.order-price
      li
        h3= j + '₽'
      li
        p в сутки
