mixin rate-button(i)
  ul.rate
    - for (var x = 0; x < 5; x++)
    if x<i
      li 
        button.button.button-rate.star
    else
      li 
        button.button.button-rate

    //- while n < i, n++
    //-   li 
    //-     button.button.button-rate.star
      //- while 5-i < i
        //- li=
        //- button.button.button-rate  - var n = 0;
