doctype html
html(lang="ru")
  include ./../component/head.pug
  body.landing
    include ./../component/header.pug
    .slaider 
      img(src="../src/uiKit/img/landing/image.jpg", alt="", width="100%")
      p Лучшие номера для вашей работы,<br> отдыха и просто вдохновения
    include ./../component/footer.pug
    .visually-hidden
      include ./../component/form-searh.pug
    include ./../component/form-searh.pug
