extends ../component/layout

block title
  title Toxin
  - var titleSection = 'Landing';

block content
  body.landing
    .slaider 
      img(src="../src/uiKit/img/landing/image.jpg", alt="", width="100%")
      p Лучшие номера для вашей работы,<br> отдыха и просто вдохновения
    .visually-hidden
      include ./../component/form-searh.pug
    include ./../component/form-searh.pug
