extends ../component/layout

block title
  title Registration
  - var titleSection = 'Регистрация';

block content
  body.landing
    .slaider 
      img(src="../src/uiKit/img/landing/image 4.jpg", alt="", width="100%")
    .visually-hidden
      include ./../component/form-searh.pug
    include ./../component/form-registration.pug
