extends ../component/layout

block title
  title Toxin detail page
  - var titleSection = 'Детальная страница';

block content
  body.detail
    .room-detail 
      img(src="../src/uiKit/img/landing/image.jpg", alt="", width="68%")
      img(src="../src/uiKit/img/landing/image.jpg", alt="", width="32%")
      img(src="../src/uiKit/img/landing/image.jpg", alt="", width="32%")
    .visually-hidden
      include ./../component/form-searh.pug
    .room-list
      h2 Сведения о номере
      .item-room 
        .item-room__icon 
          img(src="../img/insert_emoticonsmail.svg", alt="emoticonsmail")
        h3.item-room__title 
        p.item-room__text 

      ul 
        li 
      include ./../component/form-order.pug
