extends ../component/layout
//- include ./component/elements/subscription/subscription.pug
include ./../component/elements/dropdown/dropdown.pug
include ./../component/elements/checkbox/checkbox.pug
include ./../component/elements/expandable/expandable
include ./../component/elements/pagination/pagination

include ./../component/elements/slider/slider
include ./../component/elements/room-number/room-number
include ./../component/elements/rate/rate

block title
  title Filter
  - var titleSection = 'Поиск номера';

block content
  body
    .wrapper-searh 
      .parametry 
        include ./../component/elements/date-dropdown/date-dropdown.pug
        h3 Гости
        +dropdown-people("3 гостя, 1 младенец")
        h3 Правила дома
        +checkbox-button('smoke','Можно курить') 
        +checkbox-button('animals','Можно с питомцами','checked') 
        +checkbox-button('guests','Можно пригласить гостей', 'checked') 
          br
          span (до 10 человек)
        h3 Доступность
        +checkbox-button-rich('korridor','Широкий коридор') 
          p Ширина коридоров в номере не менее 91 см.
        +checkbox-button-rich('assistant','Помощник для инвалидов') 
          p На 1 этаже вас встретит специалист и проводит до номера.
        h3 Удобства номера
        +dropdown-people("2 спальни, 2 кровати...")
        +expandable('дополнительные удобства')
      .searh-room
        h1 Номера, которые мы для вас подобрали
        .room-list
          .modal.modal-room
            +slider-room-next(888,'9 800','люкс')
            hr 
            .order-list 
              +rate-button(5)
              ul.order-price
                li
                  h3 145
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(840,'9 900','') 
            hr 
            .order-list 
              +rate-button(4)
              ul.order-price
                li
                  h3 45
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(980,'8 500','люкс') 
            hr 
            .order-list 
              +rate-button(3)
              ul.order-price
                li
                  h3 35
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(856,'7 300','') 
            hr 
            .order-list 
              +rate-button(5)
              ul.order-price
                li
                  h3 19
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(740,'6 000','') 
            hr 
            .order-list 
              +rate-button(4)
              ul.order-price
                li
                  h3 44
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(982,'5 800','') 
            hr 
            .order-list 
              +rate-button(3)
              ul.order-price
                li
                  h3 56
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(678,'5 500','') 
            hr 
            .order-list 
              +rate-button(5)
              ul.order-price
                li
                  h3 45
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(450,'5 300','') 
            hr 
            .order-list 
              +rate-button(4)
              ul.order-price
                li
                  h3 39
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(350,'5 000','') 
            hr 
            .order-list 
              +rate-button(3)
              ul.order-price
                li
                  h3 77
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(666,'5 000','') 
            hr 
            .order-list 
              +rate-button(5)
              ul.order-price
                li
                  h3 25
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(444,'5 000','') 
            hr 
            .order-list 
              +rate-button(3)
              ul.order-price
                li
                  h3 15
                li
                  p Отзывов
          .modal.modal-room
            +slider-room(352,'5 000','') 
            hr 
            .order-list 
              +rate-button(3)
              ul.order-price
                li
                  h3 55
                li
                  p Отзывов

        +pagination(1)
    //- doctype html
      html(lang="ru")
        include ./../component/head.pug
        body.landing
          include ./../component/header.pug
          include ./../component/elements/date-dropdaun/date-dropdaun.pug
          h1 Номера, которые мы для вас подобрали
          p Written with love by #{ author }
          p This will be safe: #{ theGreat }
          include ./../component/footer.pug
