extends ../component/layout

block title
  title Sign In
  - var titleSection = 'Вход';

block content
  body.landing
    include ./../component/header.pug
    .slaider 
      img(src="../src/uiKit/img/landing/image 4.jpg", alt="", width="100%")
    .visually-hidden
      include ./../component/form-registration.pug
    include ./../component/login.pug
      //- - var titlePage = 'Регистрация';
        - var author = 'enlore';
        - var theGreat = '<span>escape!</span>';

            h1= titlePage
        p Written with love by #{ author }
        p This will be safe: #{ theGreat }
