/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
@charset "UTF-8";
.red {
  color: red; }

.blue {
  color: blue; }

.green {
  color: green; }

.through {
  text-decoration: line-through; }

/*Для пунктов меню*/
.menu-item {
  border: 2px solid red;
  /*Красная граница пунктов*/
  display: inline-block;
  /*Выстраиваем пункты в линию*/
  position: relative;
  cursor: pointer;
  /*Указатель курсора мыши*/ }

.menu-item .submenu {
  height: 50px;
  /*высота открывающегося блока - не обязательный пункт*/
  width: 150px;
  /*ширина блока*/
  background: greenyellow;
  /*фон*/
  display: none;
  /*скрываем все пункты меню*/
  position: absolute;
  cursor: pointer; }

