.footer-creative
  include ./logo/logo.pug
  p Copyright © 2018 Toxin отель. Все права защищены.
  ul 
    li 
      a(href="") 
        img.network(src="../src/uiKit/img/tvitter.svg", alt="Logotip tvitter")
    li 
      a(href="") 
        img.network(
          src="../src/uiKit/img/facebook.svg",
          alt="Logotip facebook"
        )
    li 
      a(href="") 
        img.network(
          src="../src/uiKit/img/instagram.svg",
          alt="Logotip instagram"
        ) 
