//- Header.pug
mixin divMenu(name1,name2)
  .menu-item= name1
    .submenu= name2
header.header1
  div
    div
      img.logo(src="../src/uiKit/img/logo.svg", alt="Logotip company") 
      img.logo1(src="../src/uiKit/img/TOXIN.svg", alt="TOXIN") 

    #nav
    .menu-item Menu 1
      .submenu Podmenu
      +divMenu('О нас')
      +divMenu('Услуги', 'V')
      +divMenu('Вакансии')
      +divMenu('Новости')
      +divMenu('Соглашения', 'V')
