//- Head.pug
head
  meta(charset="UTF-8")
  title Заголовок страницы
  //script(src="/js/jquery.js")
  //- script(src="/js/scripts.js")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  //- link(href="dist/css/datepicker.min.css", rel="stylesheet", type="text/css")
  script(src="../src/uiKit/js/datepicker.js")
