//- Header.pug
//- mixin divMenu(name1,name2)
//-   a.menu-item= name1
//-     a.submenu= name2
  #nav
  .menu-item Menu 1
    .submenu Podmenu
    +divMenu('О нас')
    +divMenu('Услуги', 'V')
    +divMenu('Вакансии')
    +divMenu('Новости')
    +divMenu('Соглашения', 'V')
mixin userName(name)
  if name
    li.vl
    li= name
  else
    li 
      button.btn-2 войти
    li 
      button.btn-4 зарегистрироваться
header.header
  .nav 
    include ./logo/logo.pug
    .nav-menu
      ul 
        li 
          a(href="http://") О нас
        li 
          a(href="http://") Услуги <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/></svg>
        li 
          a(href="http://") Вакансии
        li 
          a(href="http://") Новости
        li 
          a(href="http://") Соглашения <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/></svg>
        +userName('nuka')
