//- Header.pug
mixin divMenu(name1,name2)
  .menu-item= name1
    .submenu= name2
header.header1
  div
    img.logo(src='/img/logo.svg', alt="Logotip company") 
    p Логотип сайта
    img.logo1(src='/img/TOXIN.svg', alt="TOXIN") 

    #nav
    .menu-item Menu 1
      .submenu Podmenu
      +divMenu('О нас')
      +divMenu('Услуги', 'V')
      +divMenu('Вакансии')
      +divMenu('Новости')
      +divMenu('Соглашения', 'V')
