.modal.modal-login 
  form
    h1 Войти
    input(type="email", name="email", placeholder="Email")
    input(type="password", name="password", placeholder="Пароль")
    button.btn-4(type="submit", value="") войти
  p Нет аккаунта на Toxin?
    button.btn-2 создать
