.modal.modal-login 
  form
    h1 Войти
    input(type="email", name="email", placeholder="Email")
    input(type="password", name="password", placeholder="Пароль")
    button.button.button_flooded.button_size_w.button_icon_arrow_right(
      type="submit",
      value=""
    ) войти
  p Нет аккаунта на Toxin?
    button.button.button_border создать
