include ./elements/slider/slider
include ./elements/room-number/room-number
include ./elements/rate/rate
.modal.modal-room
  +slider-room-next(888,'9 800','люкс')
  hr 
  .order-list 
    +rate-button(5)
    ul.order-price
      li
        h3 145
      li
        p Отзывов
.modal.modal-room
  +slider-room(889,'9 100','')
  hr 
  .order-list 
    +rate-button(4)
    ul.order-price
      li
        h3 45
      li
        p Отзывов
