{
    /* Group 128 */

position: absolute;
width: 370px;
height: 369px;
left: 790px;
top: 173px;



/* Group 129 */

position: absolute;
width: 370px;
height: 369px;
left: 790px;
top: 173px;



/* team@checkforpatent.com */

position: absolute;
width: 205px;
height: 19px;
left: 790px;
top: 240px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #D0D3E2;



/* Enter your email address */

position: absolute;
width: 204px;
height: 19px;
left: 790px;
top: 209px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 145%;
/* or 23px */

color: #1C154E;

opacity: 0.8;


/* Info */

position: absolute;
width: 32px;
height: 24px;
left: 790px;
top: 173px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 134.9%;
/* or 24px */

color: #1C154E;



/* Enter main keyword for the product */

position: absolute;
width: 258px;
height: 23px;
left: 790px;
top: 327px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 145%;
/* or 23px */

color: #1C154E;

opacity: 0.8;


/* Product 1 */

position: absolute;
width: 77px;
height: 24px;
left: 790px;
top: 291px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 134.9%;
/* or 24px */

color: #1C154E;



/* Main key */

position: absolute;
width: 214px;
height: 19px;
left: 790px;
top: 362px;



/* for example, sylicon wine cup */

position: absolute;
width: 214px;
height: 19px;
left: 790px;
top: 362px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #D0D3E2;



/* Enter link to the similar product as a reference */

position: absolute;
width: 336px;
height: 23px;
left: 790px;
top: 403px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 145%;
/* or 23px */

color: #1C154E;

opacity: 0.8;


/* Link */

position: absolute;
width: 71px;
height: 19px;
left: 790px;
top: 438px;



/* https://... */

position: absolute;
width: 71px;
height: 19px;
left: 790px;
top: 438px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #D0D3E2;



/* Group 48 */

position: absolute;
width: 160px;
height: 22px;
left: 791.63px;
top: 489px;



/* Add more products */

position: absolute;
width: 160px;
height: 22px;
left: 791.63px;
top: 489px;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #23C967;



/* We offer discount up to 36% for multiple checks */

position: absolute;
width: 344px;
height: 19px;
left: 790px;
top: 523px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #494471;



/* Line 23 */

position: absolute;
width: 370px;
height: 0px;
left: 790px;
top: 266px;

opacity: 0.5;
border: 1.5px solid #E1E3EE;


/* Line 24 */

position: absolute;
width: 370px;
height: 0px;
left: 790px;
top: 388px;

opacity: 0.5;
border: 1.5px solid #E1E3EE;


/* Line 26 */

position: absolute;
width: 370px;
height: 0px;
left: 790px;
top: 464px;

opacity: 0.5;
border: 1.5px solid #E1E3EE;

}