.modal-registration {
    width: 380px;
    height: 646px;
    background-color: #ffffff;
    padding: 20px 30px 30px 30px;
    margin-top: 40px;
}

.form-registration h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form-registration {
    position: relative;
}
@import "../component/elements/human/human";