.modal-searh {
    width: 380px;
    height: 374px;
    background-color:#ffffff;
    padding: 20px 30px 30px 30px;
}
.modal-searh h1 {
    margin-bottom: 0;
}

.form-searh {
    position: relative;
}
.form-searh h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}
.form-searh label {
    display: inline-block;
    margin-top: 10px;
}
.form-searh input[type="text"] {
    display: inline-block;
    width: 130px;
    height: 40px;
    padding-left: 15px;
    margin: 0;

    border: 1px solid $dark-shade25;
    // box-sizing: border-box;
    border-radius: 4px;
}
.form-searh label:nth-child(2) {
    float: right;
}

.form-searh label:nth-child(3) input {
    width: 300px;
    margin-bottom: 10px;
}

.form-searh label::after {
    content: "";
    // display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    // top: 60%;
    // left: 100%;
    margin-left: -30px;
    margin-top: 12px;
    vertical-align: middle;
    background-image: url(../img/expand_more2.svg);
    background-repeat:no-repeat;
    background-position: 0;
}

